TASK_DB=[NOTION_DATABASE_ID]
TASK_STATUS="Task Status"
TASK_SUBSTATUS="Substatus"
TASK_ID="Task ID"

AROFLO_USERNAME=[USERNAME]@aroflo.com
AROFLO_PASSWORD=[PASSWORD]

TEST_AROFLO_USERNAME=[USERNAME].Sandbox
TEST_AROFLO_PASSWORD=[TEST_PASSWORD]

NOTION_KEY=[INTEGRATION_KEY]
COOKIE_FILE=cookie_env